<style>
#app_header{
    height: 44px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
}
    #tab{
        padding:0 40px;
        height:100%;
        text-align: center;
    }
    #tab a{
        display: inline-block;
        width:48%;
        -webkit-tap-highlight-color: rgba(0,0,0,0); /*在某些浏览器下点击a便签会有黄色外框*/
    }
    #tab a::before{
        content: '\4e66\57ce';
        width: 2em;
        display: inline-block;
        margin:0 auto;
        line-height: 44px;
    }
    #tab a:last-of-type::before{
        content: '\4e66\67b6';
    }
    #tab i{
        position: absolute;
        bottom: -1px;
        left:0px;
        height: 2px;
        display: inline-block;
        width: 2em;
        background-color: #777;
        margin:0 auto;
        transition: transform .3s ease-out;
    }
    #app_header em{
        position: absolute;
        top:0;
        display: inline-block;
        width: 44px;
        height: 44px;
        background-size: 16px;
    }
    .checkin{
        background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) center no-repeat;
        left:0;
    }
    .user{
        background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
        right:0;

    }
</style>


<div id="app_header">
    <div id="tab">
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <i style="transform: translate3d(0px, 0px, 0px); transition-duration: 0s;"></i>
    </div>
    <em class="user"></em>
    <em class="checkin"></em>
</div>