
<div class="top-home">
    <div class="search" @click="gotoSearch">
        <a href="javascript:;">输入书名/作者/关键字</a>
    </div>
    <div class="slider-banner" :style="{width:single_width,height:banner_height}">
        <div class="banner-swiper-container" :style="{height:banner_height}">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"
                    v-for=" item in top.data.data" v-if="item.ad_pic_url!=''"
                    :style="{width:single_width,height:banner_height}"
                >
                    <img :src="item.ad_pic_url" alt="banner">
                </li>
            </ul>
        </div>
    </div>
    <ul class="top-home-btn">
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p015iBxwdkmU/5wc5uzYhLZ7iVa.png" alt="">
            <p>免费</p>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01LWZmXGCpy/aSrSq6Llgt9PqE.png" alt="">
            <p>女生</p>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01lq7mbkaEJ/OGlv1em8buXDgB.png" alt="">
            <p>男生</p>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01pz5NtyRI0/2ENONnvOg23NXM.png" alt="">
            <p>分类</p>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p010kK7M5VyH/8kPz9nKvRXyu1k.png" alt="">
            <p>排行</p>
        </li>
    </ul>
</div>