<div class="hot-wrapper model-wrapper">
    <div class="hot-title index-title">
        <span class="index-title-text">本周最火</span>
    </div>
    <div class="hot-content">
        <ul class="book-list">
            <li class="book-item" v-for="(bookItem,index) in hot.data.data"
                v-if="index >= 0 && index <=5"
                @click="gotoDetail(bookItem.fiction_id)"
            >
                    <div class="book-cover">
                        <div class="img-wrapper">
                            <img :src="bookItem.cover" :alt="bookItem.title" />
                        </div>
                        <div class="book-title">{{bookItem.title}}</div>
                    </div>

            </li>
        </ul>
    </div>
    <div class="hot-bottom index-bottom">
        <a href="javascripr:;">查看全部 &gt</a>
    </div>
</div>