/*公共样式*/
.model-wrapper{
    border-bottom: 10px solid #f5f5f5;
    background: #fff;
}
.index-title{
    padding-left: 15px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-left:2px solid red;
}
.index-title-text{
    position: relative;
    font: bold 13px/13px '';
    color: rgba(0, 0, 0, 0.9);
    vertical-align:middle;
}
.index-bottom a{
    display: inline-block;
    padding: 14px;
    font: 13px/1.3em '';
    color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    text-align: center;
}
/*模块代码*/
#app_header{
    height: 44px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background: #efeff0;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}
#tab{
    padding:0 40px;
    height:100%;
    text-align: center;
}
#tab a{
    display: inline-block;
    width:48%;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /*在某些浏览器下点击a便签会有黄色外框*/
}
#tab a::before{
    content: '\4e66\57ce';
    width: 2em;
    display: inline-block;
    margin:0 auto;
    line-height: 44px;
}
#tab a:last-of-type::before{
    content: '\4e66\67b6';
}
#tab i{
    position: absolute;
    bottom: -1px;
    left:0px;
    height: 2px;
    display: inline-block;
    width: 2em;
    background-color: #777;
    margin:0 auto;
    transition: transform .3s ease-out;
}
#app_header em{
    position: absolute;
    top:0;
    display: inline-block;
    width: 44px;
    height: 44px;
    background-size: 16px;
}
.checkin{
    background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) center no-repeat;
    left:0;
}
.user{
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
    right:0;

}

.top-home{
    background-color: #fff;
    border-bottom: 10px solid #f5f5f5;
}
.search{
    margin: 10px 13px;
    padding: 1px 0 0 30px;
    font: 11px/33px a;
    color: rgba(0, 0, 0, 0.4);
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
    background-size: 14px;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
}
.search a{
    display: inline-block;
    height:100%;
    width:100%;
}
.slider-banner img{
    width:100%;
}
.top-home-btn{
    margin: 14px 0 4px;
    display: flex;
    width: 100%;
}
.top-home-btn li{
    flex:1;
    line-height: 2.4;
    font-size: 12px;
    text-align: center;
}
.top-home-btn li img{
    display: block;
    margin: 0 auto;
    height: 22px;
    width: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    vertical-align: -5px;
}

.recommend-wrapper{
    position: relative;
}
.recommend-title{
    border-left:2px solid red;
}
.recommend-title em{
    margin-left: 5px;
    padding: 1px 5px;
    font: 9px/9px '';
    color: #fff;
    background: #53ac7d;
    border-radius: 1px;
}
.recommend-title a{
    float: right;
    display: inline-block;
    padding: 16px 7px;
    font: 12px/12px '';
    color: #999;

}
.recommend-title .active{
    color: #528ae8!important;
}
.recommend-title .line{
    float: right;
    display: inline-block;
    height: 1em;
    width: 1px;
    margin:14px 0;
    background-color: #eeeeee;
}
.index-content{
    box-sizing: border-box;
    width:100%;
    padding:0 13px;
}
.index-content .book-item{
    padding: 17px 0;
    border-bottom: 1px solid #f0f0f0;
}
.index-content .book{
    overflow: hidden;
    display: flex;
}
.index-content .book-cover{
    flex:0 0 85px;
    position: relative;
    width: 85px;
    height: 113px;
    background-color: #eeece9;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
}
.index-content .book-cover img{
    width:85px;
    height: 113px;
}
.index-content .book-order{
    position: absolute;
    left: 3px;
    top: 0;
    padding: 5px 3px 0 4px;
    height: 17px;
    width: 12px;
    font: 8px/0.8em '';
    color: #fff;
    background: url('http://dushu.xiaomi.com/V3CAzyZh.png') no-repeat;
    background-size: 14px 20px;
}
.index-content .book-info{
    flex:1;
    padding: 6px 0 0 6px;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}
.index-content .book-title{
    margin-bottom: 4px;
    font: 14px/16px '';
    color: rgba(0, 0, 0, 0.9);
}
.index-content .book-author{
    margin-top: 8px;
    font: 12px/12px '';
    color: rgba(0, 0, 0, 0.4);
}
.index-content .book-summary {
     display: -webkit-box;
    margin: 8px 0 0;
    height: 2.8em;
    font: 12px/1.4em '';
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
     text-overflow: ellipsis;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}
.index-content .mark-list{
    margin-top: 10px;
    padding-top: 3px;
    overflow: hidden;
    height:18px;
}
.index-content .mark-item{
    float: left;
    margin-left:  7px;
    padding: 3px 4px 2px;
    max-width: 6em;
    font: 10px/11px '';
    color: #53ac7d;
    border-radius: 3px;
    border: 1px solid #53ac7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend-content .index-num{
    display: inline-block;
    margin: 4px 0 0;
    font: 13px/13px '';
    color: rgba(237, 83, 15, 0.9);
}
.recommend-bottom a{
    border-right:1px solid #f0f0f0;
    width: 48%;
}
.recommend-bottom a:last-child{
    border-right:none;
}

.hot-content{
    padding:13px 14px 5px;
}
.hot-content .book-item{
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    box-sizing: border-box;
    padding-right: 4px;
    margin-bottom: 8px;
}
.hot-content .book-cover{
    width: 90%;
    display: inline-block;
    height: 90%;
    position: relative;
    overflow: hidden;
}
.hot-content .book-cover img{
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px solid #f0f0f0;
    border-bottom: none;
}
.hot-content .img-wrapper{
    margin-bottom:0.5em;
}
@media (device-width: 320px) {
    .hot-content .img-wrapper{
        height: 7em;
    }
}
@media (min-width: 330px) {
    .hot-content .img-wrapper{
        height: 9em;
    }
}
.hot-content .book-cover img{
    height:100%;
    width:100%;
}


.hot-content .book-title{
    font-size: 13px;
    text-align: left;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    color: #8d8d8d;
    margin-bottom: 0px;
}
.hot-content .book-item:nth-of-type(3n+1){
    text-align: left;
}
.hot-content .book-item:nth-of-type(3n+2){
    text-align: center;
}
.hot-content .book-item:nth-of-type(3n+3){
    text-align: right;
}
.hot-bottom a{
    width:100%;
    border-top: 1px solid #f0f0f0;
}
.free-icon{
    background-color: #49ab3f;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    /*background-color: #ef6c2c;*/
    color: #fff;
    width: 100%;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
    font-size: 1rem;
    text-align: center;
}
.free-icon::before{
    content: '\9650\514d';
}

[v-cloak] {
    display: none;
}

#book-case .bookcase-li{
    border-bottom: 1px solid #f0f0f0;
}
.bookcase-wrapper{
    padding: 1em .8em;
    display: flex;
}
.bookcase-wrapper .book-cover{
    flex: 0 0 35%;
    width: 35%;
    height:50%;
    margin-right: .7em;
}
.bookcase-wrapper .book-cover img{
    height:100%;
    width:100%;
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px solid #f0f0f0;
    border-bottom: none;
}
.bookcase-wrapper .info{
    flex:1;
    padding-top: 1.2em;
}
.bookcase-wrapper.info .title{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.bookcase-wrapper .info .author{
    margin: 10px 0;
    font-size: 12px;
    color: #666;
}
.bookcase-wrapper .info .extra{
    margin: 10px 0;
    font-size: 12px;
    color: #8d8d8d;
}
.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}